.checkbox {
    width: 25px;
    height: 25px;
    border: 2px solid rgb(var(--color-orange));
    border-radius: 6px;
    background-color: #FFFFFF;
    &_active {
        background-color: rgb(var(--color-orange));
    }
    &__mark{
        
        filter: invert(100%);
    }
    &:hover {
        cursor: pointer;
    }
}