.block {
    margin: 0;
    background-image: url("src/app/assets/images/background.png");
    background-size: contain;
    background-position: center center;
    background-repeat: repeat;
    padding-bottom: 100px;
}
