.block{
    text-align: center;
    &__img {
        z-index: 20;
    }
    &__h1{
        z-index: 21;
        margin-top: -90px;
        color: #FFFFFF;
        font-size: 23px;
        font-weight: bold;
    }
    &__link{
        z-index: 21;
        margin-left: 230px;
    }
}